.contact {
  &__img {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &-download {
    gap: 0.5rem;
    @include flex(flex);
    align-items: center;
  }
}

@media screen and (min-width: 20rem) {
  .contact {
    padding-bottom: 3.75rem;
    &__img {
      display: none;
    }

    &-desc-top {
      margin-bottom: $md-32;
    }
  }
}

//1024
@media screen and (min-width: 64rem) {
  .contact {
    &-desc {
      grid-column-end: 17;
    }

    &__title {
      white-space: nowrap;
    }
  }
}

//1260
@media screen and (min-width: 78.75rem) {
  .contact {
    &__img {
      grid-column: 7 span;
      display: block;
    }
  }
}